.j_bottomlogo { position: absolute; bottom: 0px; right: 0px; height: 18px; width: 75px; overflow: hidden; background: url('rbehwljyraeiaaaaaaacetyayqwaaecuwp__w4aaaks951.png') no-repeat scroll right bottom transparent; z-index: 5; }
.j_bottomlogo a { display: block; height: 18px; width: 75px; line-height: 100px; }
.j_bottomlogo a:hover { background: url('rbehvfjyrdaiaaaaaaahorfcogsaaecrwp_uyqaaae5174.png') no-repeat scroll 0px 0px transparent; }
