/* ::::: file:///Users/Timm/Library/Application%20Support/Firefox/Profiles/nmjnqmpk.default/ScrapBook/data/20141021152127/index_2.css ::::: */

#fc { margin: 0px; padding: 0px; background-color: transparent; }
IFRAME { display: block; }
TD { cursor: default; }
.ad_slug_table { border: 0px none; padding: 0px; cursor: default; min-height: 17px; }
.ad_slug_table TD { font-size: 0px; cursor: default; }
.ad_slug_table TD SPAN { font-size: 0px; cursor: default; }
#fc_align img { vertical-align: top; }
#fc { background-color: transparent; }
.CAN_ad .yadslug { position: absolute ! important; right: 1px; top: 1px; z-index: 999; color: rgb(153, 153, 153) ! important; text-decoration: none; background: url('') no-repeat scroll 100% 0px rgb(255, 255, 255) ! important; height: 12px ! important; padding: 0px 14px 0px 1px ! important; display: inline-block ! important; }
.CAN_ad .yadslug span { display: none ! important; }
.CAN_ad .yadslug:hover {  }
.CAN_ad .yadslug:hover span { display: inline-block ! important; color: rgb(153, 153, 153) ! important; }
.CAN_ad .yadslug:hover span, .CAN_ad .yadslug:hover { font: 11px arial ! important; }
.fpad_rmx_ad * { outline: medium none; }
.fpad_rmx_ad { text-align: center; }
.fpad_rmx_adlnk { margin-top: 2px; font-size: 11px; position: relative; height: 14px; text-align: center; color: rgb(50, 79, 225); text-decoration: none; }
.fpad_rmx_adiv_base { width: 300px; height: 250px; position: relative; }
.fpad_rmx_adive_over { width: 300px; height: 250px; position: absolute; bottom: 0px; top: 0px; z-index: 2; display: none; }
#fpad_rmx_ad_id { display: none; }
.can_ad_slug { font-family: arial; font-size: 11px; color: rgb(153, 153, 153); text-decoration: none; background-image: url(''); background-repeat: no-repeat; background-position: right center; padding: 0px 14px 0px 1px ! important; margin: 1px 0px; height: 12px; display: inline-block; line-height: 12px; background-color: rgb(255, 255, 255); }
.ad_slug_table { position: relative; }
.ad_slug_table a { text-decoration: none; }
.can_ad_slug span { display: none; }
.can_ad_slug:hover {  }
.can_ad_slug:hover span { display: inline-block; color: rgb(153, 153, 153); font-family: arial; font-size: 11px; }
.can_ad_tr { position: absolute; top: 0px; right: 1px; z-index: 999; }
