source/firefox-*
source/sqlite/*
source/sqlite-bld/*
source/sqlite-bench/sqlite3-mem*
source/sqlite-bench/sqlite3-sys

**/xcuserdata/*
**/*.kdev4

results/**/perf/*.data*
results/**/logs

*.xlsx
*.png
