source/firefox-*
source/sqlite/*
source/sqlite-bld/*

**/xcuserdata/*

fid

bench/Firefox/logs

results/firefox/**/*-log-*.txt

results/**/trace/*
results/**/perf/*.data*

.R*

#for now, added back if nessisary
*.xlsx