source/firefox-*
source/sqlite/*
source/sqlite-bld/*
source/sqlite-bench/sqlite3-mem*
source/sqlite-bench/sqlite3-sys

**/xcuserdata/*

bench/Firefox/logs
bench/Firefox/js.sh
bench/Firefox/render.sh

results/**/perf/*.data*
results/**/*.txt
results/**/logs

*.R*

*.xlsx