[submodule "Malloc-Implementations"]
	path = Malloc-Implementations
	url = https://github.com/timm-allman/Malloc-Implementations
[submodule "source/memcached"]
	path = source/memcached
	url = https://github.com/memcached/memcached
[submodule "source/openssl"]
	path = source/openssl
	url = git://git.openssl.org/openssl.git